
.login{
    position: absolute;
    width: 199px;
    height: 55px;
    left: 586px;
    top: 466px;
}

.formulario {
    position: absolute;
    width: 857px;
    height: 512px;
    left: 504px;
    top: 306px;
    background: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}